.env
src/public/apidocs
src/.env
src/tmp/
src/log/
*.swp
*.rbc
*.pyc
capybara-*.html
src/.rspec
src/log
src/tmp
src/db/*.sqlite3
src/db/*.sqlite3-journal
src/public/system
src/coverage/
src/spec/tmp
src/*.orig
src/rerun.txt
src/pickle-email-*.html
src/config/initializers/secret_token.rb
src/.bundle
src/vendor/bundle
src/vendor/assets/bower_components
src/*.bowerrc
src/bower.json
src/.powenv
src/.byebug_history
docs/*.*~
*.mp4
